* {margin: 0;
padding: 0;
box-sizing: border-box;
font-family: Arial, Helvetica, sans-serif;}


:root

{--body-color:#455d7a;
--lib-main-color:  #233142;
--highlight-color: #f1a705; ;
--text-color:#e3e3e3;

}

form {

margin-top: 2rem;
display: none;
background-color: var(--lib-main-color);
box-shadow: 2px 2px 2px;
padding: 10px;
margin-left: 1rem;
margin-top: 10rem;
border: 2px solid var(--text-color);
border-radius: 8px;

} 

input, select {margin-bottom: 1.5rem;}

.library-container
{display: grid;
justify-content: center;
 margin-left: 4rem;  
 margin-right: 4rem;
grid-template-columns: repeat(5, 1fr) ;
gap: 2rem;
margin-top: 3rem;
justify-content: center;
border: 1px sold black;}

.flex-container
{
    justify-items: center;
    background-color: red;
}

.p-container h1

{ 
    padding-top: 2rem;
    max-width: fit-content;
   color: var(--text-color);
    margin-left: auto;
margin-right: auto;
font-size: 3rem;}



.main-container
{width:70vw;
margin-left: 15rem;
margin-right: auto;
background-color: var(--lib-main-color);
height: 100vh;
position: absolute;}

body
{background-color: var(--body-color);
color: var(--text-color);
margin: 0;}

button
{background-color: var(--highlight-color);
padding: 5px;
border-radius: 8px;
color: var(--lib-main-color)}

.add-to-library-button,
.clear-all-fields-button
{width: 11rem;
    background-color: var(--body-color);
    color: var(--text-color);
  
}

.add-to-library-button

{margin-bottom: 1rem;}

.new-book-button

{display: block;
    margin-left: auto;
margin-right: auto;
margin-top: 1rem;}

.form-plus-main-container
{display: flex;}

label

{font-family: Arial, Helvetica, sans-serif;
font-size: 0.8rem;}

input
{border-radius: 5px;}